services:
    rabbitmq:
        image: rabbitmq:3-management
        container_name: educaonline-rabbitmq
        ports: 
           - "5672:5672"       # RabbitMQ default port
           - "15672:15672"     # RabbitMQ management UI port
        environment: 
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest
        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
            interval: 30s
            timeout: 10s
            retries: 5
            start_period: 30s
        networks:
          - educaonline-network
        restart: unless-stopped
    
    identidade-api:
        build:
            context: .
            dockerfile: ./backend/src/services/EducaOnline.Identidade.API/Dockerfile
        container_name: educaonline-identidade-api
        ports:
            - "5152:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:8080
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/UserDatabase.db
            - MessageQueueConnection__MessageBus=host=rabbitmq:5672;username=guest;password=guest;publisherConfirms=true;timeout=30
            - JwtSettings__Segredo=476a7f12-61d4-4ef9-92c5-7420e69e0c83
            - JwtSettings__HorasParaExpirar=2
            - JwtSettings__Emissor=EducaOnline
            - JwtSettings__Audiencia=https://localhost
        depends_on:
            rabbitmq:
                condition: service_healthy
            identidade-migrate:
                condition: service_completed_successfully
        networks:
            - educaonline-network
        volumes:
            - sqlite_identidade:/app/data
        restart: unless-stopped
        user: root
        command: >
          sh -c "
          chmod 777 /app/data &&
          chown -R $$(id -u):$$(id -g) /app/data 2>/dev/null || true &&
          dotnet EducaOnline.Identidade.API.dll"

    aluno-api:
        build:
            context: .
            dockerfile: ./backend/src/services/EducaOnline.Aluno.API/Dockerfile
        container_name: educaonline-aluno-api
        ports:
            - "5244:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:8080
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/AlunoDatabase.db
            - MessageQueueConnection__MessageBus=host=rabbitmq:5672;username=guest;password=guest;publisherConfirms=true;timeout=30
            - JwtSettings__Segredo=476a7f12-61d4-4ef9-92c5-7420e69e0c83
            - JwtSettings__HorasParaExpirar=2
            - JwtSettings__Emissor=EducaOnline
            - JwtSettings__Audiencia=https://localhost        
        networks:
            - educaonline-network
        volumes:
            - sqlite_aluno:/app/data
        restart: unless-stopped
        user: root
        command: >
          sh -c "
          chmod 777 /app/data &&
          chown -R $$(id -u):$$(id -g) /app/data 2>/dev/null || true &&
          dotnet EducaOnline.Aluno.API.dll"
        depends_on:
          rabbitmq:
            condition: service_healthy
          aluno-migrate:
                condition: service_completed_successfully
          identidade-api:
                condition: service_started
    pedidos-api:
        build:
            context: .
            dockerfile: ./backend/src/services/EducaOnline.Pedidos.API/Dockerfile
        container_name: educaonline-pedidos-api
        ports:
            - "5270:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:8080
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/PedidosDatabase.db
            - MessageQueueConnection__MessageBus=host=rabbitmq:5672;username=guest;password=guest;publisherConfirms=true;timeout=30
            - JwtSettings__Segredo=476a7f12-61d4-4ef9-92c5-7420e69e0c83
            - JwtSettings__HorasParaExpirar=2
            - JwtSettings__Emissor=EducaOnline
            - JwtSettings__Audiencia=https://localhost
        depends_on:
            rabbitmq:
                condition: service_healthy
            pedidos-migrate:
                condition: service_completed_successfully
        networks:
            - educaonline-network
        volumes:
            - sqlite_pedidos:/app/data
        restart: unless-stopped
        user: root
        command: >
            sh -c "
            chmod 777 /app/data &&
            chown -R $$(id -u):$$(id -g) /app/data 2>/dev/null || true &&
            dotnet EducaOnline.Pedidos.API.dll"
    financeiro-api:
        build:
            context: .
            dockerfile: ./backend/src/services/EducaOnline.Financeiro.API/Dockerfile
        container_name: educaonline-financeiro-api
        ports:
            - "5254:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:8080
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/FinanceiroDatabase.db
            - MessageQueueConnection__MessageBus=host=rabbitmq:5672;username=guest;password=guest;publisherConfirms=true;timeout=30
            - JwtSettings__Segredo=476a7f12-61d4-4ef9-92c5-7420e69e0c83
            - JwtSettings__HorasParaExpirar=2
            - JwtSettings__Emissor=EducaOnline
            - JwtSettings__Audiencia=https://localhost
        depends_on:
            rabbitmq:
                condition: service_healthy
            financeiro-migrate:
                condition: service_completed_successfully
        networks:
            - educaonline-network
        volumes:
            - sqlite_financeiro:/app/data
        restart: unless-stopped
        user: root
        command: >
            sh -c "
            chmod 777 /app/data &&
            chown -R $$(id -u):$$(id -g) /app/data 2>/dev/null || true &&
            dotnet EducaOnline.Financeiro.API.dll"
    conteudo-api:
        build:
            context: .
            dockerfile: ./backend/src/services/EducaOnline.Conteudo.API/Dockerfile
        container_name: educaonline-conteudo-api
        ports:
            - "5105:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:8080
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/ConteudoDatabase.db
            - MessageQueueConnection__MessageBus=host=rabbitmq:5672;username=guest;password=guest;publisherConfirms=true;timeout=30
            - JwtSettings__Segredo=476a7f12-61d4-4ef9-92c5-7420e69e0c83
            - JwtSettings__HorasParaExpirar=2
            - JwtSettings__Emissor=EducaOnline
            - JwtSettings__Audiencia=https://localhost
        depends_on:            
            conteudo-migrate:
                condition: service_completed_successfully
        networks:
            - educaonline-network
        volumes:
            - sqlite_conteudo:/app/data
        restart: unless-stopped
        user: root
        command: >
            sh -c "
            chmod 777 /app/data &&
            chown -R $$(id -u):$$(id -g) /app/data 2>/dev/null || true &&
            dotnet EducaOnline.Conteudo.API.dll"
    identidade-migrate:
         image: mcr.microsoft.com/dotnet/sdk:9.0
         container_name: educaonline_identidade_migrate         
         working_dir: /src/backend/src/services/EducaOnline.Identidade.API
         environment:
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/UserDatabase.db
            - PATH=/root/.dotnet/tools:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin 
         volumes:
            - ./backend:/src/backend
            - sqlite_identidade:/app/data
         command: >
            sh -c " 
                    mkdir -p /app/data &&
                    chmod 777 /app/data &&
                    dotnet restore EducaOnline.Identidade.API.csproj &&
                    dotnet build EducaOnline.Identidade.API.csproj &&
                    dotnet tool install --global dotnet-ef --version 9.* &&                    
                    dotnet-ef database update --project EducaOnline.Identidade.API.csproj --connection 'Data Source=/app/data/UserDatabase.db'"
         networks:
            - educaonline-network  
    aluno-migrate:
         image: mcr.microsoft.com/dotnet/sdk:9.0
         container_name: educaonline_aluno_migrate         
         working_dir: /src/backend/src/services/EducaOnline.Aluno.API
         environment:
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/AlunoDatabase.db
            - PATH=/root/.dotnet/tools:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
         volumes:
            - ./backend:/src/backend
            - sqlite_aluno:/app/data
         command: >
            sh -c " 
                    mkdir -p /app/data &&
                    chmod 777 /app/data &&
                    dotnet restore EducaOnline.Aluno.API.csproj &&
                    dotnet build EducaOnline.Aluno.API.csproj &&
                    dotnet tool install --global dotnet-ef --version 9.* &&                    
                    dotnet-ef database update --project EducaOnline.Aluno.API.csproj --connection 'Data Source=/app/data/AlunoDatabase.db'"
         networks:
            - educaonline-network
         depends_on:
            identidade-migrate:
                condition: service_completed_successfully
    pedidos-migrate:
         image: mcr.microsoft.com/dotnet/sdk:9.0
         container_name: educaonline_pedido_migrate         
         working_dir: /src/backend/src/services/EducaOnline.Pedidos.API
         environment:
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/PedidosDatabase.db
            - PATH=/root/.dotnet/tools:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
         volumes:
            - ./backend:/src/backend
            - sqlite_pedidos:/app/data
         command: >
            sh -c " 
                    mkdir -p /app/data &&
                    chmod 777 /app/data &&
                    dotnet restore EducaOnline.Pedidos.API.csproj &&
                    dotnet build EducaOnline.Pedidos.API.csproj &&
                    dotnet tool install --global dotnet-ef --version 9.* &&                    
                    dotnet-ef database update --project EducaOnline.Pedidos.API.csproj --connection 'Data Source=/app/data/PedidosDatabase.db'"
         networks:
            - educaonline-network
         depends_on:
            conteudo-migrate:
                condition: service_completed_successfully
    financeiro-migrate:
         image: mcr.microsoft.com/dotnet/sdk:9.0
         container_name: educaonline_financeiro_migrate         
         working_dir: /src/backend/src/services/EducaOnline.Financeiro.API
         environment:
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/FinanceiroDatabase.db
            - PATH=/root/.dotnet/tools:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
         volumes:
            - ./backend:/src/backend
            - sqlite_financeiro:/app/data
         command: >
            sh -c " 
                    mkdir -p /app/data &&
                    chmod 777 /app/data &&
                    dotnet restore EducaOnline.Financeiro.API.csproj &&
                    dotnet build EducaOnline.Financeiro.API.csproj &&
                    dotnet tool install --global dotnet-ef --version 9.* &&                    
                    dotnet-ef database update --project EducaOnline.Financeiro.API.csproj --connection 'Data Source=/app/data/FinanceiroDatabase.db'"
         networks:
            - educaonline-network
         depends_on:
            pedidos-migrate:
                condition: service_completed_successfully 
    conteudo-migrate:
         image: mcr.microsoft.com/dotnet/sdk:9.0
         container_name: educaonline_conteudo_migrate         
         working_dir: /src/backend/src/services/EducaOnline.Conteudo.API
         environment:
            - ConnectionStrings__DefaultConnection=Data Source=/app/data/ConteudoDatabase.db
            - PATH=/root/.dotnet/tools:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
         volumes:
            - ./backend:/src/backend
            - sqlite_conteudo:/app/data
         command: >
            sh -c " 
                    mkdir -p /app/data &&
                    chmod 777 /app/data &&
                    dotnet restore EducaOnline.Conteudo.API.csproj &&
                    dotnet build EducaOnline.Conteudo.API.csproj &&
                    dotnet tool install --global dotnet-ef --version 9.* &&                    
                    dotnet-ef database update --project EducaOnline.Conteudo.API.csproj --connection 'Data Source=/app/data/ConteudoDatabase.db'"
         networks:
            - educaonline-network
         depends_on:
            aluno-migrate:
                condition: service_completed_successfully
        
volumes:
  rabbitmq_data:
    driver: local
  sqlite_identidade:
    driver: local
  sqlite_aluno:
    driver: local
  sqlite_pedidos:
    driver: local
  sqlite_financeiro:
    driver: local
  sqlite_conteudo:
    driver: local
networks:
  educaonline-network:
    driver: bridge